/**************
GENERAL STYLES
**************/
body {
    background-color: #1A86C8;
    background-image: url("../img/bg-clouds.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
}

.form-control {  color: white;  }

.navbar-form {  display: inline-block;  }

.center-content { text-align: center; }

/***************
WEATHER BLOCK
****************/
#show-weather {
    color: #1A86C8;
    display: none;
    max-height: 320px;
    text-align: center;
}

#show-weather img {
    display: inline-block;
    margin-top: 20px;
    height: 300px;
    width: 600px;
    max-width: 100%;
}

#show-weather > div {
    margin-bottom: 10px;
    position: relative;
    top: -170px;
}

/*********
BUTTONS
*********/
#clear-btn {
    background-color: transparent;
    border:none;
    color: darkred;
    display: none;
    font-size: 17px;
    left: 48%;
    position: relative;
    top: -250px;
}

#clear-btn span {
    margin-bottom: 3px;
    font-size: 13px;
    vertical-align: middle;
}

label {
    padding: 0;
    margin: 0;
}

label:hover {  cursor: pointer;  }

#srch-term,
#search-btn {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid white;
    box-sizing: border-box;
}

#search-btn {
    background-color: white;
    color: #1A86C8;
    padding: 5px 12px;
}

#search-btn:hover,
#search-btn:active,
#search-btn:active:focus {
    box-shadow: none;
    color: #1A86C8;
    cursor: pointer;
    outline: none;
}